@charset "utf-8";

/*
font-family: 'Roboto', sans-serif;
*/

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    letter-spacing: 2px;
}
a {
    color: white;
}

nav {
    background-color: #81C784;
}

nav #logo {
    font-size: .8em;
    font-weight: 900;
}

#browse::after {
    content: none!important;
}

.timer {
    width: 50%;
    height: 60px;
    position: absolute;
    background-color: #FF9800;
}

.card-header img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card button {
    background-color: #FF9800;
}

#create-form h3 {
    padding: 3em 0;
}

#edit-form form {
    background-color: #ECF0F1;
}

#edit-form h3 {
    padding: 3em 0;
}

#preview {
    width: 153px;
    height: 153px;
    /*background-color: #000;*/
}

#preview input {
    background-color: #000;
}

#preview label{
    background-color: #000;
}

input#product-name::placeholder {
    /*text-align: center;*/
}