@charset "utf-8";

/*
font-family: 'Roboto', sans-serif;
*/

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    letter-spacing: 2px;
}
a {
    color: white;
}

nav {
    background-color: #81C784;
}

nav #logo {
    font-size: .8em;
    font-weight: 900;
}


#card-header #timer {
    width: 50%;
    height: 60px;
    position: absolute;
    background-color: #FF9800;
}

.card button {
    background-color: #FF9800;
}